	body{
		font-family:calibri;
	}
	#gameboard h2,#gameboard h3{
		    text-align:center;
		    margin: 5px;
	}
	#dicearea{
	    float: right;
    padding: 10px;
    background: #4f7bb1;
    height: 479px;
    width: 530px;
    border-radius: 10px;
}
#extrastatus{
	float: right;
    width: 380px;
    height: 40px;
}
	.perfectThrows{
		  background: #f1e3e3;
		padding: 5px;
	    height: 45px;
	}  
	.dice_class{
		width:40px;
		height:40px;
	}
	.roll{
		background: #36adcc;;
		border: none;
		height: 37px;
		width: 90px;
		border-radius: 5px;
		cursor: pointer;
	}
	#app{
		height: 100vh;
		max-width: 1100px;
		margin: auto;
	}
	#currentPlayer{
		padding: 3px;
		font-size: 24px;
		font-weight: 500;
		color: #a9170c;;
		
	}
	#sixRollState{
		padding:5px;
	}
	#container{
		  width:500px;
		  height:500px;
		  position:relative;
		  float:left;
		  font-weight: 400;
		  background:url("../images/board.png") no-repeat;
	}
	#gamechoose{
		text-align:center;
		text-align: center;
		background: #41b685;
		border-radius: 10px;
		padding: 20px;
		max-width: 500px;
		margin: auto;
	}
	#gamechoose h3{
		color:#222;
		font-weight:400;
	}
	#gamechoose button{
		margin: 45px;
		height:35px;
		padding:10px;
		background:#efefef;
		border:none;
		border-radius:5px;
		cursor:pointer;
	}
	#gameboard{
		background: #41b685;
		width: 98%;
		border-radius: 15px;
	}
	.container h3{
		text-align: left;
		padding-left: 15px;
		font-size: 44px;
		font-weight: 500;
		color: #4c7819;
	}
	.scoreCards{
		width: 30%;
		margin: 10px;
		float: left;
		background: #c7d8d8;
		padding: 10px;
		border-radius: 10px;
		transition: opacity 6.4s ease-in-out;
	}
	.scores{
		width: 85%;
		margin: 10px;
		background: #0f97ff;
		padding: 10px;
		border-radius: 10px;
		 -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
	}
	.scores:hover{
		
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);

	}
	.scores p{
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		color: #fff;
		padding-bottom: 5px;
		border-bottom: 1px solid #efefef;
		 -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
	}
	.scores p:hover{
		
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);

	}
	.player_image{
		width:25px;
	    height:25px;
		margin-right:10px;
		margin-top:7px;
	}
	.cell{
		width:48px;
		height:48px;
		line-height:58px;
		text-align:center;
		float:left;
	
	}
	.go_back,#backToGame{
		width:30px;
		height:30px;
		background-repeat:no-repeat;
		background-size:contain;
		margin-left:50px;
		border:none;
		cursor:pointer;
		background-image:url("../images/game.svg");
		
	}
	.playersInfo{
		margin-top:10px;
		word-wrap: break-word;
	}
	
	.player{
		position: absolute;
		bottom: 0px;
		width:30px;
		height:30%0px;
		left: 10px;
		bottom:10px;
		z-index: 100;
	}
	
  @media only screen and (min-width:320px) and (max-width:1100px){
	  #dicearea{
		  float:left;
		  margin-top:20px;
	  }
  }
